*.bin
*.v2
*.vsidx
*.suo
/bin
/debug
config.cfg
Shard/ConsoleApp1/obj/rider.project.restore.info
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.sourcelink.json
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.pdb
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.dll
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.csproj.Up2Date
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.csproj.FileListAbsolute.txt
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.AssemblyInfoInputs.cache
Shard/ConsoleApp1/obj/Debug/net8.0/Shard.AssemblyInfo.cs
Shard/ConsoleApp1/obj/Debug/net8.0/refint/Shard.dll
Shard/ConsoleApp1/obj/Debug/net8.0/ref/Shard.dll
Shard/ConsoleApp1/bin/Debug/net8.0/Shard.pdb
Shard/ConsoleApp1/bin/Debug/net8.0/Shard.dll
Shard/ConsoleApp1/bin/Debug/net8.0/Sayers.SDL2.Core.dll
